n8n_workflow.json
{
  "name": "UNLZ Agent (Multi-Modal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "toolDescription": "Check if query is safe",
        "toolName": "check_query_safety",
        "method": "POST",
        "url": "http://host.docker.internal:8000/tools/call",
        "authentication": "none",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "={{$json.body.message}}"
            }
          ]
        }
      },
      "name": "Guardrails Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Safe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"Error: Unsafe content detected.\"\n}",
        "options": {}
      },
      "name": "Reject Unsafe",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b",
        "options": {}
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Local Ollama",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}",
        "options": {}
      },
      "name": "Agent Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{$json.text}}\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "toolDescription": "Trigger RAG Ingestion",
        "toolName": "trigger_rag_ingestion",
        "method": "POST",
        "url": "http://host.docker.internal:8000/tools/call",
        "authentication": "none"
      },
      "name": "Tool: RAG Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        700
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Guardrails Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails Check": {
      "main": [
        [
          {
            "node": "Is Safe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Safe?": {
      "main": [
        [
          {
            "node": "Agent Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Unsafe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
