n8n_workflow.json
{
  "name": "Autonomous University Researcher (Local + Ollama)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Agent Workflow\n1. Receive Query\n2. Check Local Knowledge (Supabase)\n3. Check Local Server Status (MCP)\n4. Generate Answer via Local Ollama"
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        140
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b",
        "options": {}
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Local Ollama",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.query}}",
        "options": {}
      },
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get system hardware stats",
        "toolName": "get_system_stats",
        "method": "POST",
        "url": "http://host.docker.internal:8000/tools/call",
        "authentication": "none"
      },
      "name": "MCP Tool: System Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        500
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
